<%- include ('./partials/header')  %>

<div class="row">
    <nav class="col-2">
        <a href="" class="blue"><i class="fas fa-dove"></i></a>
        <a href=""><i class="fas fa-home"></i></a>
        <a href=""><i class="fas fa-search"></i></a>
        <a href=""><i class="fas fa-bell"></i></a>
        <a href=""><i class="fas fa-envelope"></i></a>
        <a href=""><i class="fas fa-user"></i></a>
        <a href="/logout"><i class="fas fa-sign-out-alt"></i></a>

    </nav>
    <div class="mainSection col-10 col-md-8 col-lg-6">

        <div class="titleContainer">
            <h1>View Post</h1>
        </div>

        <div id="postContainer" data-id='<%= postId %>'>

            <% if(isReply)  { %>

            <% buntut.rows.map(item => {   %>

            <div class='post' data-id='<%= item.status_id %>'>
                <div class='postActionContainer'>
                    retweetText

                </div>
                <div class='mainContentContainer'>
                    <div class='userImage'>
                        <img src='<%= userImage %>'>
                    </div>
                    <div class='postContentContainer'>
                        <div class='header'>
                            <a href='/profile/<%=  item.username %> ' class='displayName'>@<%= item.username %></a>
                            <span class="date"><%= timestampOne %> </span>
                        </div>
                        <div class='postBody'>
                            <span><%= item.text  %> </span>
                        </div>
                        <div class='postFooter'>
                            <div class='postButtonContainer'>
                                <button data-toggle='modal' data-target='#replyModal' onclick='showModal(this)'>
                                    <i class='far fa-comment'></i>
                                </button>
                            </div>
                            <div class='postButtonContainer green'>
                                <button onclick='retweetButton(this)'>
                                    <i class='fas fa-retweet'></i>
                                    <span
                                        class='retweetSpan'><%= item.retweetby.length > 0 ? item.retweetby.length : null %></span>
                                </button>
                            </div>
                            <div class='postButtonContainer red'>
                                <button onclick='likeButton(this)'>
                                    <i class='far fa-heart'></i>
                                    <span
                                        class='likeSpan'><%= item.likes.length > 0 ? item.likes.length : null %></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <%  })} %>

            <!--*original post -->
            <div class='post' data-id='<%= postId %>'>
                <div class='postActionContainer'>
                    <% if(isRetweetOne)  { %>
                    <%-  retweetText %>
                    <% } %>
                </div>
                <div class='mainContentContainer'>
                    <div class='userImage'>
                        <img src='<%= userImage %>'>
                    </div>
                    <div class='postContentContainer'>
                        <div class='header'>
                            <a href='/profile/<%=  data.rows[0].username %> '
                                class='displayName'>@<%= data.rows[0].username %></a>
                            <span class="date"><%= timestampOne %></span>
                        </div>
                        <%- data.rows[0].replyto.length > 0 ? replyFlag : null %>
                        <div class='postBody'>
                            <span><%= data.rows[0].text  %> </span>
                        </div>
                        <div class='postFooter'>
                            <div class='postButtonContainer'>
                                <button data-toggle='modal' data-target='#replyModal' onclick='showModal(this)'>
                                    <i class='far fa-comment'></i>
                                </button>
                            </div>
                            <div class='postButtonContainer green'>
                                <button onclick='retweetButton(this)'>
                                    <i class='fas fa-retweet'></i>
                                    <span
                                        class='retweetSpan'><%= data.rows[0].retweetby.length > 0 ? data.rows[0].retweetby.length : null %></span>
                                </button>
                            </div>
                            <div class='postButtonContainer red'>
                                <button onclick='likeButton(this)'>
                                    <i class='far fa-heart'></i>
                                    <span
                                        class='likeSpan'><%= data.rows[0].likes.length > 0 ? data.rows[0].likes.length : null %></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <% kepala.rows.map(item => {   %>

            <div class='post' data-id='<%= item.status_id %>'>
                <div class='postActionContainer'>
                    retweetText
                </div>
                <div class='mainContentContainer'>
                    <div class='userImage'>
                        <img src='<%= userImage %>'>
                    </div>
                    <div class='postContentContainer'>
                        <div class='header'>
                            <a href='/profile/<%=  item.username %> ' class='displayName'>@<%= item.username %></a>
                            <span class="date">date </span>
                        </div>
                        <%- replyFlag  %>
                        <div class='postBody'>
                            <span><%= item.text  %> </span>
                        </div>
                        <div class='postFooter'>
                            <div class='postButtonContainer'>
                                <button data-toggle='modal' data-target='#replyModal' onclick='showModal(this)'>
                                    <i class='far fa-comment'></i>
                                </button>
                            </div>
                            <div class='postButtonContainer green'>
                                <button onclick='retweetButton(this)'>
                                    <i class='fas fa-retweet'></i>
                                    <span
                                        class='retweetSpan'><%= item.retweetby.length > 0 ? item.retweetby.length : null %></span>
                                </button>
                            </div>
                            <div class='postButtonContainer red'>
                                <button onclick='likeButton(this)'>
                                    <i class='far fa-heart'></i>
                                    <span
                                        class='likeSpan'><%= item.likes.length > 0 ? item.likes.length : null %></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <%  }) %>

        </div>



    </div>


    <div class="d-none d-md-block col-md-2 col-lg-4">
        <span>Third Column</span>
    </div>
</div>


<div id="replyModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="replyModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Reply</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="originalPost">

                </div>
                <div class='postFormContainer'>
                    <div class='userImage'>
                        <img src='<%=userImage%>''>
                    </div>
            <div class="textareaContainer">
                    <textarea name="textArea" id="replyTextArea" cols="30" rows="5" placeholder="reply" ></textarea>
                </div>          
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="clearModal(this)">Close</button>
                <button type="button" class="btn btn-primary" id=' submitReplyButton'
                            onclick="submitReply(this)">Reply</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


   <script src='/js/postPage.js'></script>
    <%- include ('./partials/footer.ejs')  %>